:root{
    --bg-color: white;
    --off-color: #c01d56;
    --text-color: #111111;
    font-size: 24px;
    font-family: 'Rock Salt', cursive;
}
*{
    color: var(--text-color);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--bg-color);
    display: flex;
    height: 100vh;
    width: 100vw;
}
a{
    text-decoration: none;
    color: var(--off-color);
}
.left-side-screen, .right-side-screen{
    height: 100vh;
}
.left-side-screen{
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;    
}
.right-side-screen{
    background-image: url('llama.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    width: 40vw;
}
.image-overlay{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.image-header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    background-color: white;
    opacity: .8;
    margin-top: 85%;
}
.image-credit{
    text-align: center;
    background-color: white;
    margin-top: auto;
    opacity: .6;
}
img{
    width: 30%;
    height: 75%;
    margin-bottom: 2%;
}
.logo-text{
    font-size: 1.5rem;
    padding: 3%;
}
.submit{
    background-color: var(--off-color);
    color: white;
    font-weight: 900;
    font-size: 0.8rem;
    margin: 1rem 0;
    padding: .4rem 1.4rem;
    border-radius: .2rem;
}

/* header */

.header{
    background-color: aliceblue;
    font-weight: 700;
    font-size: .8rem;
    box-shadow: 2vw 1.2vw 2vw;
    padding: 2vw;
}

/* form */

fieldset{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 5% 0 5% 10%;
}
.input{
    font-size: .7rem;
    width: 25vw;
}
input{
    height: 3vh;
}

/* create account */

.create-account{
    font-size: .8rem;
    margin-left: 3vw;
}


/* EFFECTS */

input:invalid{
    border: 2px solid red;
}
input:focus{
    outline: none;
    border: 2px solid lightblue;
}
input:valid{
    border: 2px solid green;
}
.submit:hover{
    background-color: aqua;
}
a:hover{
    border: 2px solid black;
}